<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.superWiserTVV2">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false"/>
    <uses-feature
            android:name="android.software.leanback"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.faketouch"
            android:required="false"/>

    <uses-feature
            android:name="android.hardware.nfc"
            android:required="false"/>

    <uses-feature
            android:name="android.hardware.microphone"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.sensor"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.screen.portrait"
            android:required="false"/>

    <application
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity
                android:name="com.example.superWiserTVV2.Login"
                android:banner="@drawable/tvapp"
                android:configChanges="keyboard|keyboardHidden|navigation"
                android:icon="@drawable/tvapp"
                android:label="@string/app_name"
                android:logo="@drawable/tvapp"
                android:screenOrientation="landscape"

                android:theme="@style/Theme.Leanback">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SearchResultActivity"></activity>
        <activity android:name="com.example.superWiserTVV2.temp.BrowseErrorActivity"/>
        <activity android:name="com.example.superWiserTVV2.InvalidPassword"></activity>
        <activity android:name="com.example.superWiserTVV2.temp.GuidedStepActivitySetInterval"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".EmailSent"></activity>
        <activity android:name=".ViewVerticalGridActivity"></activity>
        <activity android:name=".GroupScene"></activity>
        <activity android:name=".PlaySceneActivity"
        android:exported="true"></activity>
    </application>

</manifest>